*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --dark-bg: #2f303a;
  --blue: #2196f3;
  --black: #000000;
  --light-black: #212121;
  --white: #ffffff;
  --grey: #757575;
  --lightgrey: #f5f4fa;
  --transparentwhite: rgba(255, 255, 255, 0.6);
}
img {
  display: block;
  width: 100%;
  height: auto;
}
body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--grey);
}
address {
  font-style: normal;
}
a {
  text-decoration: none;
}
h1,
h2,
h3 {
  padding: 0;
  margin: 0;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.header {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}
.header-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  margin-right: 93px;
}
.logo .web {
  color: var(--blue);
}
.logo .stud {
  color: var(--black);
}
.nav-logo-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.nav-list {
  padding: 0;
  margin: 0;
  align-items: flex-end;
  display: flex;
}
.nav-item {
  margin-right: 49px;
  position: relative;
}
.nav-item:last-child {
  margin-right: 0;
}
.nav > li > a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--light-black);
}
.nav .portfolio {
  color: var(--blue);
}
.portfolio > .nav-link::after {
  width: 77px;

  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;
  height: 4px;
  min-width: 48px;
  border: 1px solid var(--blue);
  border-radius: 2px;
  overflow: visible;
  background-color: var(--blue);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--blue);
}
.addr {
  display: flex;
  justify-content: center;
  align-items: center;
}
.addr > a {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--grey);
}
.addr > a:focus,
.addr > a:hover {
  color: var(--blue);
}
.addr-indent {
  margin-right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.addr-indent:last-child {
  margin-right: 0;
}

.addr-indent:hover .mail-icon,
.addr-indent:hover .tel-icon,
.addr-indent:focus .mail-icon,
.addr-indent:focus .tel-icon {
  fill: var(--blue, #2196f3);
}
.mail-icon {
  fill: var(--color3, #757575);
  margin-right: 10px;
  width: 16px;
  height: 12px;
}
.tel-icon {
  fill: var(--color3, #757575);
  margin-right: 10px;
  width: 10px;
  height: 16px;
}
.filter .filter-btn {
  background-color: var(--lightgrey);
  color: var(--light-black);
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
}
.filter .filter-btn:focus,
.filter .filter-btn:hover {
  background-color: var(--blue);
  color: var(--white);
}
.filter .all-menu {
  background-color: var(--blue);
  color: var(--white);
}
.filter {
  padding-top: 100px;
  padding-bottom: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.filter-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.filter-item {
  margin-right: 8px;
}
.filter-btn {
  padding: 6px 22px;
  border-radius: 4px;
  border: 1px solid var(--lightgrey);
}
.gallery-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.gallery-item {
  margin-bottom: 30px;
}
.gallery-item:not(:nth-child(3n)) {
  margin-right: 30px;
}
.gallery-link:hover,
.gallery-link:focus {
  display: block;
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
.gallery-description {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--grey);
}
.gallery-thumb {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.gallery-thumb > .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms ease;
  padding: 63px 24px;
  color: var(--white);
}
.gallery-link:hover .overlay,
.gallery-link:focus .overlay {
  transform: translateY(0);
  transition: transform 250ms ease;
}
.border-name {
  margin: 0;
  padding-left: 24px;
  padding-bottom: 20px;
  border: 1px solid var(--lightgrey);
}
.footer {
  margin-top: 64px;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--dark-bg);
}
.footer .logo .stud {
  color: var(--white);
}
.footer .logo {
  margin-bottom: 20px;
}
.project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--light-black);
  margin-bottom: 4px;
}
.footer .contacts {
  display: flex;
  flex-direction: column;
}
.contacts p {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white);
  margin-bottom: 9px;
}
.contacts a {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--transparentwhite);
}
.contacts a:not(:last-child) {
  margin-bottom: 9px;
}
.sotial-list {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}
.sotial-list-item {
  width: 44px;
  height: 44px;
}
.sotial-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
}
.sotial-list-item .sotial-link:hover,
.sotial-list-item .sotial-link:focus {
  border: 1px solid var(--blue);
  background-color: var(--blue);
  border-radius: 50%;
}
.sotial-list-item .sotial-link:hover .sotial-icon,
.sotial-list-item .sotial-link:focus .sotial-icon {
  fill: var(--white);
}
.sotial-icon {
  fill: var(--color1, #afb1b8);
  width: 20px;
  height: 20px;
}
.footer {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--dark-bg);
}
.footer .logo .stud {
  color: var(--white);
}
.footer .logo {
  margin-bottom: 20px;
  margin-right: 0;
}
.footer .sotial-list {
  margin: 0;
  padding: 0;
}
.contacts p {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white);
  margin-bottom: 9px;
}
.contacts a {
  display: block;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--transparentwhite);
}
.contacts a:not(:last-child) {
  margin-bottom: 9px;
}
.title-footer-sotial-list {
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
  margin-bottom: 20px;
}
.combine-footer {
  display: flex;
  justify-content: flex-start;
}
.footer .sotial-div {
  padding-top: 12px;
  margin-left: 70px;
}
.footer .sotial-icon {
  fill: var(--white);
  width: 20px;
  height: 20px;
}
.footer .sotial-link {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer .sotial-list-item {
  margin-right: 10px;
}
.footer .sotial-list-item:last-child {
  margin-right: 0;
}
.title-mailing {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white);
  display: block;
  margin-top: 12px;
  margin-left: 93px;
  margin-bottom: 20px;
}
.input-mailing {
  margin-left: 93px;
  background-color: var(--dark-bg);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  width: 358px;
  padding: 15px 16px;
  color: var(--white);
}
.btn-mailing {
  padding: 10px 62px 10px 29px;
  margin-left: 12px;

  background-color: var(--blue);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;

  color: var(--white);
}
.combine-input-mailing-btn {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.div-icon-mailing {
  position: relative;
}
.icon-mailing {
  position: absolute;
  top: 50%;
  right: 28px;

  width: 24px;
  height: 24px;

  transform: translateY(-50%);
}
